<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  {{ content_for_header }}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  {{ content_for_additional_head }}
</head>
<body>
  {% section 'header' %}
  {{ content_for_layout }}
  {% section 'footer' %}
  <script src="{{ 'theme.js' | asset_url }}"></script>
  {{ content_for_footer }}
</body>
</html>